@import "null.css";

.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 20px;
}
.header-title {
	display: block;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}
.header-title:active {
	background: url("../img/ris.-1-roza-pink-flojd.jpg") center / cover no-repeat;
	height: 400px;
	width: 400px;
}
span:active {
	color: rgba(0, 0, 0, 0);
}
.header-title:active::after {
	display: block;
	content: "Это вам, миледи.";
	color: red;
	font-size: 18px;
	margin-left: 500px;
}
